# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production build files
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
.cache/

# TypeScript cache
*.tsbuildinfo

# Testing
coverage/ 